.idea
.DS_Store
*.orig
.schemalintrc.js
__pycache__
*.qgs~
local_test.sh
*.backup
.ghtoken
official-signs.json
postgresql.jar
schemaspy*.jar
schemaspy/
website/local.html
project/this-is-the-way.jpg
project/signalo.ts
projet/signalo_attachments.zip
website/tx
Pipfile
Pipfile.lock
.env
Pipfile
project/images/_*
