.env
project/images/_*
project/this-is-the-way.jpg
project/signalo.ts
project/signalo_attachments.zip
website/tx
website/local.html

.idea
.DS_Store
*.orig
.schemalintrc.js
__pycache__
*.qgs~
~view.sql
local_test.sh
*.backup
.ghtoken
official-signs.json
postgresql.jar
schemaspy*.jar
schemaspy/
