.idea
.DS_Store
*.orig
.schemalintrc.js
__pycache__
*.qgs~
local_test.sh
*.backup
.ghtoken
postgresql.jar
schemaspy*.jar
schemaspy/
website/local.html
project/this-is-the-way.jpg
website/tx
website/Pipfile
website/Pipfile.lock
