services:
  db:
    build:
      context: .
      dockerfile: ./datamodel/.docker/db.Dockerfile
      args:
        DB_NAME: ${DB_NAME:-signalo}
        PG_SERVICE: ${PG_SERVICE:-pg_signalo}
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    ports:
      # making the postgres database accessible for debugging
      - ${PG_CONTAINER_PORT:-5432}:${PG_CONTAINER_PORT:-5432}
    volumes:
      - db-data:/var/lib/postgresql/data

  pum:
    build:
      context: .
      dockerfile: ./datamodel/.docker/pum.Dockerfile
      args:
        - RUN_TESTS=${RUN_TESTS:-False}
        - TEST_PACKAGES=exiftool bc

    image: opengisch/pum:${DOCKER_TAG:-unstable}
    working_dir: /usr/src
    volumes:
      - .:/usr/src
      - ./datamodel/.docker/.pg_service.conf:/etc/postgresql-common/pg_service.conf:ro
    depends_on:
      - db

  qgis:
    image: qgis/qgis:3.44
    tty: true
    volumes:
      - .:/usr/src
      - ./docker/.pg_service.conf:/etc/postgresql-common/pg_service.conf:ro
    links:
      - db
    profiles:
      - qgis

  schemaspy:
    image: schemaspy/schemaspy
    volumes:
      - ./model-documentation:/output
      - ./datamodel/schemaspy.properties:/schemaspy.properties
    depends_on:
      - db
    network_mode: "service:signalo"
    command: [
      "-configFile",
      "/schemaspy.properties"
    ]
    user: "${UID}:${GID}"
    profiles:
      - schemaspy

volumes:
  db-data:
