services:
  db:
    image: postgis/postgis:16-3.5
    platform: linux/amd64
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - PGSERVICEFILE=/.pg_service.conf
    ports:
      # making the postgres database accessible for debugging
      - ${PG_CONTAINER_PORT:-5432}:5432
    volumes:
      # use the PGSERVICE to connect to a database from outside the container
      - ${PGSERVICEFILE:-./datamodel/.docker/.pg_service.conf}:/.pg_service.conf:ro
      - dump-data:/dump
      - db-data:/var/lib/postgresql/data

  pum:
    image: opengisch/pum:${PUM_VERSION:-latest}
    tty: true
    stdin_open: true
    platform: linux/amd64
    environment:
      - PGSERVICE=${PGSERVICE:-pg_signalo}
    volumes:
      - .:/pum
      - ${PGSERVICEFILE:-./datamodel/.docker/.pg_service.conf}:/.pg_service.conf:ro
    depends_on:
      - db

  qgis:
    image: qgis/qgis:3.44
    platform: linux/amd64
    tty: true
    environment:
      - PGSERVICEFILE=/.pg_service.conf
    volumes:
      - .:/usr/src
      - ${PGSERVICEFILE:-./datamodel/.docker/.pg_service.conf}:/.pg_service.conf:ro
    links:
      - db
    profiles:
      - qgis

  schemaspy:
    image: schemaspy/schemaspy
    platform: linux/amd64
    volumes:
      - ./datamodel/schemaspy:/output
      - ./datamodel/schemaspy.properties:/schemaspy.properties
    depends_on:
      - db
    network_mode: "service:db"
    command: [
      "-configFile",
      "/schemaspy.properties"
    ]
    user: "${UID}:${GID}"
    profiles:
      - schemaspy

volumes:
  db-data:
  dump-data:
