version: '3'

services:
  signalo:
    build:
      context: ..
      dockerfile: ./.docker/Dockerfile
    image: opengisch/signalo:${DOCKER_TAG:-unstable}
    working_dir: /usr/src
    volumes:
      - ${SOURCE_DIR:-..}:/usr/src
    ports:
      # making the postgres database accessible for debugging
      - ${SIGNALO_PG_PORT:-5432}:${SIGNALO_PG_PORT:-5432}

  qgis:
    image: opengisch/qgis
    tty: true
    volumes:
      - ${SOURCE_DIR:-..}:/usr/src
      - ./.pg_service.conf:/etc/postgresql-common/pg_service.conf:ro
    links:
      - signalo
    profiles:
      - qgis

  schemaspy:
    image: schemaspy/schemaspy
    volumes:
      - ../model-documentation:/output
      - ${SOURCE_DIR:-..}/data_model/schemaspy.properties:/schemaspy.properties
    depends_on:
      - signalo
    network_mode: "service:signalo"
    command: [
      "-configFile",
      "/schemaspy.properties"
    ]
    user: "${UID}:${GID}"
    profiles:
      - schemaspy
