site_name: Signalo
site_url: https://www.signalo.ch/
site_author: OPENGIS.ch
site_description: >-
  Signalo est un module de gestion de la signalisation verticale selon l'Ordonnance sur la signalisation routière suisse (OSR).

# Copyright
copyright: Copyright &copy; 2021 OPENGIS.ch

# Configuration
theme:
  name: material
  custom_dir: theme_overrides/
  language: fr
  features:
    - navigation.tabs
    - search.suggest
  logo: assets/images/signalo_logo.png
  favicon: assets/images/favicon.ico
  palette:
    - scheme: default
      primary: amber
      toggle:
        icon: octicons/sun-24
        name: Switch to light mode
    - scheme: slate
      primary: blue
      toggle:
        icon: octicons/moon-24
        name: Switch to dark mode

nav:
    - Présentation: index.md
    - Installation: installation.md
    - Documentation: documentation.md

# Css
extra_css:
  - stylesheets/extra.css
  - stylesheets/jquery.fancybox.min.css

# Extra javascript
extra_javascript:
  - javascript/jquery.min.js
  - javascript/jquery.fancybox.min.js

extra:
  # Remove "Made with Material for MkDocs" from footer
  generator: false