site_name: Signalo
site_url: https://www.signalo.ch/
site_author: OPENGIS.ch
site_description: >-
  Signalo est un module de gestion de la signalisation verticale.

repo_url: https://github.com/opengisch/signalo
docs_dir: documentation

# Repository
repo_name: opengisch/signalo
repo_url: https://github.com/opengisch/signalo
edit_uri: https://github.com/opengisch/signalo/tree/master/documentation/

# Copyright
copyright: Copyright &copy; 2022 <a href="https://OPENGIS.ch">OPENGIS.ch</a>

# Configuration
theme:
  name: material
  custom_dir: theme_overrides/
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - search.suggest
    - search.highlight
  logo: assets/images/signalo_logo.png
  favicon: assets/images/favicon.ico
  palette:
    - scheme: default
      primary: grey
      toggle:
        icon: octicons/sun-24
        name: Switch to light mode
    - scheme: slate
      primary: grey
      toggle:
        icon: octicons/moon-24
        name: Switch to dark mode

nav:
    - Présentation: index.md
    - Participer: contribute.md
    - Installation: installation.md
    - Modèle de données: data-model.md
    - Desktop: desktop.md
    - Mobile: mobile.md
    - Feuille de route: roadmap.md

# Css
extra_css:
  - stylesheets/extra.css
  - stylesheets/jquery.fancybox.min.css

# Extra javascript
extra_javascript:
  - javascript/jquery.min.js
  - javascript/jquery.fancybox.min.js

extra:
  # Remove "Made with Material for MkDocs" from footer
  generator: false

markdown_extensions:
  - attr_list
  - md_in_html
  - fancyboxmd
  - sane_lists

plugins:
  - search
  - i18n:
      default_language: fr_CH
      default_language_only: !ENV [DEFAULT_LANGUAGE_ONLY, true]
      languages:
        fr_CH: Français
        de_CH: Deutsch
        # it: Italiano
        # en: English
