site_name: Signalo
site_url: https://www.signalo.ch
site_author: OPENGIS.ch

docs_dir: documentation

# Repository
repo_name: opengisch/signalo
repo_url: https://github.com/opengisch/signalo
edit_uri: https://github.com/opengisch/signalo/tree/master/website/documentation/

# Copyright
copyright: Copyright &copy; 2022 <a href="https://OPENGIS.ch">OPENGIS.ch</a>

# Configuration
theme:
  name: material
  custom_dir: theme_overrides/
  language: fr
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.tracking
    - search.suggest
    - search.highlight
  logo: assets/images/signalo_logo.png
  favicon: assets/images/favicon.ico
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: grey
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: grey
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: grey
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

nav:
  - Présentation: index.md
  - Participer: contribute.md
  - Installation: installation.md
  - Modèle de données: data-model.md
  - Desktop: desktop.md
  - Mobile: mobile.md
  - Feuille de route: roadmap.md
  - Documentation BD: datamodel-doc.fr.md

# Css
extra_css:
  - stylesheets/extra.css
  - stylesheets/jquery.fancybox.min.css

# Extra javascript
extra_javascript:
  - javascript/jquery.min.js
  - javascript/jquery.fancybox.min.js

extra:
  # Remove "Made with Material for MkDocs" from footer
  generator: false

markdown_extensions:
  - attr_list
  - md_in_html
  - fancyboxmd
  - sane_lists
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences

plugins:
  - search
  - i18n:
      languages:
        - locale: fr
          default: true
          name: Français
          site_name: SIGNALO
          site_description: Signalo est un module de gestion de la signalisation verticale.
        - locale: de
          name: Deutsch
          site_name: SIGNALO
          site_description: Signalo ist ein Modul für vertikale Signalisierung
          nav_translations:
            Présentation: Präsentation
            Participer: Mitmachen
            Installation: Installation
            Modèle de données: Datenmodelle
            Desktop: Desktop
            Mobile: Mobil
            Feuille de route: Roadmap
            Documentation BD: DB Dokumentation
