site_name: Signalo
site_url: https://www.signalo.ch/
site_author: OPENGIS.ch

docs_dir: documentation

# Repository
repo_name: opengisch/signalo
repo_url: https://github.com/opengisch/signalo
edit_uri: https://github.com/opengisch/signalo/tree/master/website/documentation/

# Copyright
copyright: Copyright &copy; 2022 <a href="https://OPENGIS.ch">OPENGIS.ch</a>

# Configuration
theme:
  name: material
  custom_dir: theme_overrides/
  language: fr
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - search.suggest
    - search.highlight
  logo: assets/images/signalo_logo.png
  favicon: assets/images/favicon.ico
  palette:
    - scheme: default
      primary: grey
      toggle:
        icon: octicons/sun-24
        name: Switch to light mode
    - scheme: slate
      primary: grey
      toggle:
        icon: octicons/moon-24
        name: Switch to dark mode

nav:
  - Présentation: index.md
  - Participer: contribute.md
  - Installation: installation.md
  - Modèle de données: data-model.md
  - Desktop: desktop.md
  - Mobile: mobile.md
  - Feuille de route: roadmap.md
  - Documentation BD: datamodel-doc.fr.md

# Css
extra_css:
  - stylesheets/extra.css
  - stylesheets/jquery.fancybox.min.css

# Extra javascript
extra_javascript:
  - javascript/jquery.min.js
  - javascript/jquery.fancybox.min.js

extra:
  # Remove "Made with Material for MkDocs" from footer
  generator: false

markdown_extensions:
  - attr_list
  - md_in_html
  - fancyboxmd
  - sane_lists
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - pymdownx.snippets

plugins:
  - search
  - i18n:
      default_language_only: false
      search_reconfigure: false
      languages:
        - locale: fr
          default: true
          name: Français
          site_name: SIGNALO
          site_description: Signalo est un module de gestion de la signalisation verticale.
        - locale: de
          name: Deutsch
          site_name: SIGNALO
          site_description: Signalo ist ein Modul für vertikale Signalisierung
        # it: Italiano
        # en: English
      nav_translations:
        de:
          Présentation: Präsentation
          Participer: Mitmachen
          Installation: Installation
          Modèle de données: Datenmodelle
          Desktop: Desktop
          Mobile: Mobil
          Feuille de route: Roadmap
          Documentation BD: DB Dokumentation
