{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
<style>
  .md-header{position:initial}
  .md-main__inner{margin:0}
  .md-content{display:none}
</style>
  <section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__content">
          <div class="tx-hero__image">
            <img src="assets/images/signalo_logo_full.png" alt="" width="600" draggable="false">
          </div>
          <h2>{{ config.site_description }}</h2>
        </div>
      </div>
    </div>
  </section>
  <div class="md-grid md-typeset" id="si-present"><p>{{ page.content }}</p></div>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}